/* #region Foundation */

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

/* Variables */
:root {
	/* Colors */
	--backgroundColor: #000;
	--foregroundColor: #fff;
	--accent: #0ff;

	--black: #000;
	--white: #fff;
	--offWhite: #ddd;

	--gray0: #111;
	--gray1: #222;
	--gray2: #282828;
	--gray3: #555;
	--gray4: #777;

	/* Animation timings */
	--time-1: 100ms;
	--time-2: 250ms;
	--time-3: 500ms;
}

/* Media queries to set rem */
@media (min-width: 800px) {
	:root {
		font-size: 16px;
		--header-fs: 1rem;
	}
}

@media (max-width: 800px) {
	:root {
		font-size: 14px;
		--header-fs: 0.8rem;
	}
}

@media (max-width: 600px) {
	:root {
		font-size: 14px;
	}
}

/* html {
	height: 100%;
} */

body {
	color: var(--foregroundColor);
	background-color: var(--backgroundColor);

	/* height: 100%; */
	margin: 0;

	font-family: "Segoe UI", sans-serif;
}

/* #app {
	height: 100%;
	min-height: 100vh;
} */

main {
	padding-top: calc(var(--header-fs) * 4);
	height: 100%;
	min-height: 100vh;

	/* overflow: scroll; */
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h1 {
	font-size: 3rem;
	font-family: "Comfortaa", sans-serif;
}

h2, h3, h4, h5, h6 {
	font-family: "Comfortaa", sans-serif;
}

p {
	font-family: "Segoe UI", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

a {
	color: var(--accent);
}

/* #endregion Foundation */

/* #region Blogs */

.reading-pane {
	width: 100%;
	max-width: 120ch;
	margin: 0 auto;
	/* margin-left: auto;
	margin-right: auto;
	margin-top: 2rem; */
	padding-top: 3rem;
	padding-left: 4rem;
	padding-right: 4rem;
	padding-bottom: 5rem;
}

.blog-preview-list-container {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.blog-preview-item {
	text-decoration: none;
	color: inherit;

	display: block;
	padding: 1.3rem;

	/* border: 1.6px solid var(--gray2); */

	border-width: 1.6px;
	border-style: solid;
	border-color: var(--gray2);
	border-radius: 2rem;

	background-color: var(--gray0);

	transition: border-color var(--time-2) ease, background-color var(--time-2) ease;
}

.blog-preview-item:hover {
	border-color: var(--accent);
	background-color: color-mix(in oklab, var(--accent), black 80%);
}

/* #endregion */

/* #region Exported Blog HTML */



.blog-article table {
	margin: 1em 0;
	width: 100%;
	overflow-x: auto;
	
	border-collapse: collapse;
}

.blog-article table, .blog-article th, .blog-article td {
	border: 1px solid var(--gray3);
}


.blog-article table caption {
	margin-bottom: 0.75em;
}

.blog-article tbody {
	margin-top: 0.5em;
}

.blog-article th {
	padding: 0.25em 0.5em 0.25em 0.5em;
}

.blog-article td {
	padding: 0.125em 0.5em 0.25em 0.5em;
}





div.sourceCode {
	background-color: var(--gray0);
	padding: 1rem;
	overflow-x: auto;

	/* Note: Might need a variable for this when we do dark-mode-light-mode toggling. */
	color-scheme: dark;
}

code span.al {
	color: #ff0000;
	font-weight: bold;
}

code span.an {
	color: #60a0b0;
	font-weight: bold;
	font-style: italic;
}

code span.at {
	color: #7d9029;
}

code span.bn {
	color: #40a070;
}

code span.bu {
	color: #008000;
}

code span.cf {
	color: #007020;
	font-weight: bold;
}

code span.ch {
	color: #4070a0;
}

code span.cn {
	color: #880000;
}

/* Comment */
code span.co {
	color: #808080;
	font-style: italic;
}

code span.cv {
	color: #60a0b0;
	font-weight: bold;
	font-style: italic;
}

code span.do {
	color: #ba2121;
	font-style: italic;
}

/* Data Type */
code span.dt {
	color: #FA236E;
}

code span.dv {
	color: #40a070;
}

code span.er {
	color: #ff0000;
	font-weight: bold;
}

/* code span.ex {} */

code span.fl {
	color: #40a070;
}

/* Function */
code span.fu {
	color: #3BE5FF;
}

code span.im {
	color: #008000;
	font-weight: bold;
}

code span.in {
	color: #60a0b0;
	font-weight: bold;
	font-style: italic;
}

/* Keyword */
code span.kw {
	color: #FA236E;
	font-weight: bold;
}

code span.op {
	color: #cccccc;
}

code span.ot {
	color: #FFA826;
}

code span.pp {
	color: #bc7a00;
}

code span.sc {
	color: #4070a0;
}

code span.ss {
	color: #bb6688;
}

code span.st {
	color: #43A543;
}

code span.va {
	color: #19177c;
}

code span.vs {
	color: #4070a0;
}

code span.wa {
	color: #60a0b0;
	font-weight: bold;
	font-style: italic;
}

/* #endregion */

/* #region Construction */

.center-pane {
	width: 100%;
	max-width: 120ch;

	margin: 0 auto;
	margin-top: 4rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.center-pane h1 {
	font-size: 4rem;
}

.center-pane img {
	margin-top: 2rem;
	width: 40%;
}

/* #endregion */

/* #region Projects */

.project-preview-list-container {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.project-preview-item {
	text-decoration: none;
	color: inherit;

	display: block;
	padding: 1.3rem;

	/* border: 1.6px solid var(--gray2); */

	border-width: 1.6px;
	border-style: solid;
	border-color: var(--gray2);
	border-radius: 2rem;

	background-color: var(--gray0);
}

@media (min-width: 800px) {
	.project-preview-item article section {
		display: flex;
		flex-direction: row;
	}

	.project-preview-item article section>div {
		width: 50%;
	}

	.project-preview-item article section img {
		width: 50%;
	}
}

@media (max-width: 800px) {
	.project-preview-item article section {
		display: flex;
		flex-direction: column;
	}

	.project-preview-item article section>div {
		width: 100%;
	}

	.project-preview-item article section img {
		width: 100%;
	}
}

/* #endregion */

/* #region Project Box */

.info-box {
	padding: 1rem;
	margin-bottom: 2rem;

	border-radius: 1rem;
	border-style: solid;
	border-width: 1px;

	border-color: var(--gray4);
	color: var(--foregroundColor);
	background-color: var(--gray2);
}

.large-box {
	font-size: 3rem;
	text-align: center;
}

#project-section .heading {
	position: sticky;
}

#project-box {
	display: flex;
}

.project-info {
	width: 60%;
}

.project-img-box {
	position: relative;
	align-self: flex-start;
	margin: auto;
	margin-top: 1rem;
	width: 40%;
}

.project-img-box img {
	width: 100%;
	height: 100%;
}

@media (max-width: 600px) {
	#project-box {
		flex-direction: column;
	}

	.project-info {
		width: 100%;
	}

	.project-img-box {
		width: 100%
	}

	#connection-list {
		flex-direction: row;
		flex-wrap: wrap;
		position: relative;
		top: -1rem;
		justify-content: center;
	}

	.connection {
		margin-left: 1rem;
		margin-right: 1rem;
		margin-top: 1rem;
	}
}

@media (min-width: 600px) {
	.project-info {
		padding-right: 1rem;
	}

	.project-img-box {
		width: 40%;
	}

	.connection:not(:last-child) {
		margin-right: 2rem;
	}
}

/* #endregion */

/* #region Nice button */

.btn {
	display: inline-block;

	border: 1px solid var(--accent);
	border-radius: 0.5rem;
	padding: 0.5rem;

	text-decoration: none;

	color: var(--accent);

	transition: color var(--time-2) ease;
	transition: background-color var(--time-2) ease;
}

.btn i {
	margin-left: 0.2rem;
}

.btn:hover {
	background-color: var(--accent);
	color: var(--backgroundColor);
	transition: color var(--time-2) ease;
	transition: background-color var(--time-2) ease;
}

/* #endregion */

/* #region Project Pages */

.img-box {
	width: 100%;
	display: flex;
	justify-content: center;
}

.basic-container {
	max-width: 100ch;
	width: 100%;
	margin: 0 auto;
	margin-top: 4rem;
}

.basic-container img {
	max-width: 100ch;
	width: 100%;
}

.basic-container iframe {
	max-width: 100ch;
	width: 100%;
	aspect-ratio: 16 / 9;
}

/* #endregion */