footer {
	width: 100%;
	text-align: center;
	margin-top: 1rem;
	padding: 1rem;
}

.connection-list {
	padding-top: 1rem;
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.connection {
	position: relative;
	width: 4rem;
	color: white;
}

.connection i {
	font-size: 4rem;
	color: white;
}

.connection-link:hover .connection-pic {
	transform: rotateZ(360deg);
	transition: transform var(--time-3) ease;
}

.connection-link:focus .connection-pic {
	border: 2px solid var(--accent);
	outline-style: none;
	outline-width: 0px;
	outline: none;
	transition: 0;
}

.connection-label {
	font-size: 1rem;
	font-weight: normal;
	text-align: center;

	position: relative;
	width: 120%;
	left: 50%;
	transform: translateX(-50%);
}