@*
	Pages:
		Home (house icon): Who am I, brief intro
		Projects
		Dev Blogs
		Resume
*@

<header>
	<nav>
		<NavLink id="home-button" href="/" Match="NavLinkMatch.All">
			<i class="fa-solid fa-house"></i>
		</NavLink>
		<ul id="nav-list">
			<li><NavLink href="/projects">Projects</NavLink></li>
			<li><NavLink href="/dev-blogs">Dev Blogs</NavLink></li>
		</ul>
	</nav>
</header>