header {
	font-family: "Comfortaa", sans-serif;
	font-size: calc(var(--header-fs));

	position: fixed;
	top: 0;

	width: 100vw;

	height: 4em;

	background-color: var(--gray1);
	z-index: 10;
}

/* Nav items */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 100%;

	padding: 0 1em;
}

/* Home Button */
::deep #home-button {
	font-size: 1.5em;
	height: 2em;
	width: 2em;

	display: flex;
	align-items: center;
	justify-content: center;

	text-decoration: none;
	color: var(--foregroundColor);

	cursor: pointer;
}

::deep #home-button:hover,
::deep #home-button.active {
	color: var(--accent);
}

#nav-list {
	list-style: none;
	display: flex;
}

/* Old scroll helper for mobile horizontal scrolling */
#nav-list:after {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	pointer-events: none;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), var(--gray1) 100%);
	width: 2em;
	height: 100%;
}

::deep #nav-list a {
	font-size: 1.5em;

	position: relative;
	margin: 0 1.3em;
	white-space: nowrap;
	text-decoration: none;

	color: var(--foregroundColor);

	transition: transform var(--time-2) ease-in;

	cursor: pointer;
}

::deep #nav-list a:hover,
::deep #nav-list a.active {
	color: var(--accent);
}

/* Underline hidden */
::deep #nav-list a::after {
	content: '';
	position: absolute;

	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;

	transform: scaleX(0);
	transition: transform var(--time-1) ease-in;

	background: var(--accent);
}

/* Underline shown */
::deep #nav-list a:hover::after,
::deep #nav-list a.active::after {
	transform: scaleX(1);
	transition: transform var(--time-1) ease-in;
}