@*
	Pages:
		Home (house icon): Who am I, brief intro
		Projects
		Dev Blogs
		Resume
*@

<header>
	<NavLink id="logo-link" Match="NavLinkMatch.All">
		<i class="logo fa-solid fa-house"></i>
	</NavLink>
	<nav>
		<ul id="nav-link-list">
			<NavLink href="/about" id="nav-list-item">About Me</NavLink>
			<NavLink href="/dev-logs" id="nav-list-item">Dev Logs</NavLink>
		</ul>
	</nav>
</header>
@*
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div> *@