/* #region Foundation */
* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

/* Variables */
:root {
	/* Colors */
	--backgroundColor: #000;
	--foregroundColor: #fff;
	--accent: #0ff;

	--black: #000;
	--white: #fff;
	--offWhite: #ddd;
	--gray0: #222;
	--gray1: #282828;
	--gray2: #777;

	/* Animation timings */
	--time-1: 100ms;
	--time-2: 250ms;
	--time-3: 500ms;
}

/* Media queries to set rem */
@media (min-width: 800px) {
	:root {
		font-size: 16px;
		--header-fs: 1rem;
	}
}

@media (max-width: 800px) {
	:root {
		font-size: 12px;
		--header-fs: 0.8rem;
	}
}

@media (max-width: 600px) {
	:root {
		font-size: 12px;
	}
}

html {
	height: 100%;
}

body {
	color: var(--foregroundColor);
	background-color: var(--backgroundColor);

	height: 100%;
	margin: 0;

	font-family: "Segoe UI", sans-serif;
}

#app {
	height: 100%;
	min-height: 100vh;
}

main {
	padding-top: calc(var(--header-fs) * 4);
	height: 100%;
	min-height: 100vh;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* #endregion Foundation */

/* #region Construction */

.center-pane {
	width: 100%;
	max-width: 120ch;

	margin: 0 auto;
	margin-top: 4rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.center-pane h1 {
	font-size: 4rem;
}

.center-pane img {
	margin-top: 2rem;
	width: 40%;
}

/* #endregion */

/* #region Project Box */

.info-box {
	padding: 1rem;
	margin-bottom: 2rem;

	border-radius: 1rem;
	border-style: solid;
	border-width: 1px;

	border-color: var(--gray2);
	color: var(--foregroundColor);
	background-color: var(--gray1);
}

.large-box {
	font-size: 3rem;
	text-align: center;
}

#project-section .heading {
	position: sticky;
}

#project-box {
	display: flex;
}

.project-info {
	width: 60%;
}

.project-img-box {
	position: relative;
	align-self: flex-start;
	margin: auto;
	margin-top: 1rem;
	width: 40%;
}

.project-img-box img {
	width: 100%;
	height: 100%;
}

@media (max-width: 600px) {
	#project-box {
		flex-direction: column;
	}

	.project-info {
		width: 100%;
	}

	.project-img-box {
		width: 100%
	}

	#connection-list {
		flex-direction: row;
		flex-wrap: wrap;
		position: relative;
		top: -1rem;
		justify-content: center;
	}

	.connection {
		margin-left: 1rem;
		margin-right: 1rem;
		margin-top: 1rem;
	}
}

@media (min-width: 600px) {
	.project-info {
		padding-right: 1rem;
	}

	.project-img-box {
		width: 40%;
	}

	.connection:not(:last-child) {
		margin-right: 2rem;
	}
}

/* #endregion */

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

hr {
	border: none;
	background-color: var(--offWhite);
	height: 4px;
}

p {
	margin-bottom: 1rem;
}

table {
	border-collapse: "collapse";
	width: 100%;
	border: 1px solid var(--gray2);
}

th,
td {
	padding: 0.5rem;
	border: 1px solid var(--gray2);
}

ol {
	margin-left: 2rem;
}

.button-box {
	display: flex;
	justify-content: center;
}

.neat-button {
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;

	cursor: pointer;

	position: relative;
	/* width: 100%; */
	padding: 0.5em;

	color: var(--accent);
	border: 2px solid var(--accent);
	border-radius: 0.5em;
	background-color: var(--backgroundColor);
	transition: var(--time-2);
	transition: var(--time-2);
}

.neat-button:hover,
.neat-button:focus {
	color: var(--backgroundColor);
	background-color: var(--accent);
	transition: var(--time-2);
}

.img-box {
	width: 100%;
	display: flex;
	justify-content: center;
}

.big-img {
	width: 40%;
}

#overflow-x-space:after {
	content: '';
	display: block;
	position: relative;
	right: 0;
	width: 0;
	height: 1px;
	margin-right: 1px;
}


/* Center Pane. There's two for proper sizing, its a pain */
#center-pane1 {
	position: relative;
	display: flex;
	justify-content: center;

	padding-left: 2rem;
	padding-right: 2rem;

	width: 100%;
	height: 100vh;
}

@media (min-width: 800px) {
	#center-pane1 {
		padding-top: calc(4*1rem*1 - 1rem);
	}
}

@media (max-width: 800px) {
	#center-pane1 {
		padding-top: calc(4*1rem*0.8 - 1rem);
	}
}

#center-pane2 {
	max-width: 75ch;
	width: 100%;
	padding-top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Popup stuff */
.popUpOverlay {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(255, 255, 255, 0.10);
}

.popUpBox {
	position: absolute;
	z-index: 101;

	border: 1px solid var(--accent);
	background-color: var(--backgroundColor);
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

.pop-content {
	padding: 0rem 1rem 1rem 1rem;
}

.popMessage {
	position: relative;
	text-align: center;
}

.popup-spacer {
	height: 1rem;
}

#close {
	cursor: pointer;

	position: relative;
	width: 1em;
	height: 1em;
	top: 0rem;
	right: calc(-100% + 1em);
	margin-bottom: -1rem;

	font-size: 2rem;
	font-weight: lighter;
	line-height: 0;

	border: 0px;
	background-color: rgba(255, 255, 255, 0.0);
	color: var(--accent);
}

#close:hover {
	background-color: rgba(255, 255, 255, 0.25);
}

#close:active {
	background-color: rgba(255, 255, 255, 0.5);
}

#x {
	position: relative;
	top: -0.1em;
}

#pop-button-holder {
	display: flex;
	align-items: center;
	justify-content: right;
	margin-top: 1rem;
}

.pop-button {
	cursor: pointer;

	position: relative;
	height: 2em;
	min-width: 5em;

	font-size: 1rem;
	font-weight: bold;

	border: 0.1em solid var(--accent);
	border-radius: 0.5rem;

	background: none;
	color: var(--accent);

	transition: var(--time-2);
}

.pop-button:hover {
	background-color: var(--accent);
	color: var(--backgroundColor);

	transition: var(--time-1);
}

.pop-button:active {
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Fancy button style from W3 */
.ext-link-button {
	font-size: 1rem;
	font-weight: bold;
	text-align: center;

	border: 0;
	cursor: pointer;

	width: 100%;
	padding: 0.5em;
	float: left;

	color: var(--backgroundColor);
	border-radius: 0.5em;
	background-color: var(--accent);
}

.ext-link-button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: var(--time-2);
}

.ext-link-button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -1rem;
	transition: var(--time-2);
}

.ext-link-button:hover span,
.ext-link-button:focus span {
	padding-right: 1.25rem;
}

.ext-link-button:hover span:after,
.ext-link-button:focus span:after {
	opacity: 1;
	right: 0;
}

#contact-box {
	font-size: 1.5rem;
}

.yellow-info {
	background-color: #272115;
	/*rgba(210, 153, 34, 0.4); /* rgba(187, 128, 9, 0.15);*/
	border: #5a4210 1px solid;
	border-radius: 6px;

	padding: 1rem;
	margin: 1rem;
}

/* SORT ME */
.basic-container {
	max-width: 100ch;
	width: 100%;
	margin: 0 auto;
	margin-top: 4rem;
}

.basic-container img {
	max-width: 100ch;
	width: 100%;
}

.basic-container iframe {
	max-width: 100ch;
	width: 100%;
	aspect-ratio: 16 / 9;
}