/* #region Foundation */

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

/* Variables */
:root {
	/* Colors */
	--backgroundColor: #000;
	--foregroundColor: #fff;
	--accent: #0ff;

	--black: #000;
	--white: #fff;
	--offWhite: #ddd;
	--gray0: #222;
	--gray1: #282828;
	--gray2: #777;

	/* Animation timings */
	--time-1: 100ms;
	--time-2: 250ms;
	--time-3: 500ms;
}

/* Media queries to set rem */
@media (min-width: 800px) {
	:root {
		font-size: 16px;
		--header-fs: 1rem;
	}
}

@media (max-width: 800px) {
	:root {
		font-size: 12px;
		--header-fs: 0.8rem;
	}
}

@media (max-width: 600px) {
	:root {
		font-size: 12px;
	}
}

html {
	height: 100%;
}

body {
	color: var(--foregroundColor);
	background-color: var(--backgroundColor);

	height: 100%;
	margin: 0;

	font-family: "Segoe UI", sans-serif;
}

#app {
	height: 100%;
	min-height: 100vh;
}

main {
	padding-top: calc(var(--header-fs) * 4);
	height: 100%;
	min-height: 100vh;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* #endregion Foundation */

/* #region Construction */

.center-pane {
	width: 100%;
	max-width: 120ch;

	margin: 0 auto;
	margin-top: 4rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.center-pane h1 {
	font-size: 4rem;
}

.center-pane img {
	margin-top: 2rem;
	width: 40%;
}

/* #endregion */

/* #region Project Box */

.info-box {
	padding: 1rem;
	margin-bottom: 2rem;

	border-radius: 1rem;
	border-style: solid;
	border-width: 1px;

	border-color: var(--gray2);
	color: var(--foregroundColor);
	background-color: var(--gray1);
}

.large-box {
	font-size: 3rem;
	text-align: center;
}

#project-section .heading {
	position: sticky;
}

#project-box {
	display: flex;
}

.project-info {
	width: 60%;
}

.project-img-box {
	position: relative;
	align-self: flex-start;
	margin: auto;
	margin-top: 1rem;
	width: 40%;
}

.project-img-box img {
	width: 100%;
	height: 100%;
}

@media (max-width: 600px) {
	#project-box {
		flex-direction: column;
	}

	.project-info {
		width: 100%;
	}

	.project-img-box {
		width: 100%
	}

	#connection-list {
		flex-direction: row;
		flex-wrap: wrap;
		position: relative;
		top: -1rem;
		justify-content: center;
	}

	.connection {
		margin-left: 1rem;
		margin-right: 1rem;
		margin-top: 1rem;
	}
}

@media (min-width: 600px) {
	.project-info {
		padding-right: 1rem;
	}

	.project-img-box {
		width: 40%;
	}

	.connection:not(:last-child) {
		margin-right: 2rem;
	}
}

/* #endregion */

/* #region Dangerous Generic Old Stuff */

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
	margin-bottom: 1rem;
}

table {
	border-collapse: "collapse";
	width: 100%;
	border: 1px solid var(--gray2);
}

th,
td {
	padding: 0.5rem;
	border: 1px solid var(--gray2);
}

ol {
	margin-left: 2rem;
}

/* #endregion */

/* #region Nice button */

.btn {
	border: 1px solid var(--accent);
	border-radius: 0.5rem;
	padding: 0.5rem;

	text-decoration: none;

	color: var(--accent);

	transition: color var(--time-2) ease;
	transition: background-color var(--time-2) ease;
}

.btn i {
	margin-left: 0.2rem;
}

.btn:hover {
	background-color: var(--accent);
	color: var(--backgroundColor);
	transition: color var(--time-2) ease;
	transition: background-color var(--time-2) ease;
}

/* #endregion */

.button-box {
	display: flex;
	justify-content: center;
}

.neat-button {
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;

	cursor: pointer;

	position: relative;
	/* width: 100%; */
	padding: 0.5em;

	color: var(--accent);
	border: 2px solid var(--accent);
	border-radius: 0.5em;
	background-color: var(--backgroundColor);
	transition: var(--time-2);
	transition: var(--time-2);
}

.neat-button:hover,
.neat-button:focus {
	color: var(--backgroundColor);
	background-color: var(--accent);
	transition: var(--time-2);
}

.img-box {
	width: 100%;
	display: flex;
	justify-content: center;
}

.big-img {
	width: 40%;
}

#overflow-x-space:after {
	content: '';
	display: block;
	position: relative;
	right: 0;
	width: 0;
	height: 1px;
	margin-right: 1px;
}


/* Center Pane. There's two for proper sizing, its a pain */
#center-pane1 {
	position: relative;
	display: flex;
	justify-content: center;

	padding-left: 2rem;
	padding-right: 2rem;

	width: 100%;
	height: 100vh;
}

@media (min-width: 800px) {
	#center-pane1 {
		padding-top: calc(4*1rem*1 - 1rem);
	}
}

@media (max-width: 800px) {
	#center-pane1 {
		padding-top: calc(4*1rem*0.8 - 1rem);
	}
}

#contact-box {
	font-size: 1.5rem;
}

.yellow-info {
	background-color: #272115;
	/*rgba(210, 153, 34, 0.4); /* rgba(187, 128, 9, 0.15);*/
	border: #5a4210 1px solid;
	border-radius: 6px;

	padding: 1rem;
	margin: 1rem;
}

/* SORT ME */
.basic-container {
	max-width: 100ch;
	width: 100%;
	margin: 0 auto;
	margin-top: 4rem;
}

.basic-container img {
	max-width: 100ch;
	width: 100%;
}

.basic-container iframe {
	max-width: 100ch;
	width: 100%;
	aspect-ratio: 16 / 9;
}