.ext-link {
	position: relative;
	color: var(--accent);
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
}

.ext-link::after {
	content: '';
	position: absolute;

	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;

	transform: scaleX(0);
	transition: transform var(--time-1) ease-in;

	background: var(--accent);
}

.ext-link:hover::after,
.ext-link:focus::after {
	transform: scaleX(1);
	outline: 0;
}