@page "/"

<PageTitle>Paul Hazelton</PageTitle>

<div className='section'>
	@* <Welcome /> *@
	<div id='welcome-box'>
		What's up? 👋 My name is Paul Hazelton and I'm a web developer, programmer, and game designer!
	</div>
</div>
<div className='section' id='project-section'>
	@* <Heading text='My Projects'/> *@
	@* <div className='heading'>
		<h1>My Projects</h1><hr>
	</div> *@
	@* <ProjectList /> *@
</div>
<div className='section'>
	@* <Heading text='Other Places You Can Find Me' /> *@
	@* <div className='heading'>
		<h1>Other Places You Can Find Me</h1><hr>
	</div> *@
	@* <ConnectList /> *@
	<div className='section'>
		@* <h2>Other Places You Can Find Me</h2> *@
		<div id='connection-list'>
			@* <Connection
				url={'https://github.com/PaulHazelton'}
				imgPath={'images/github-light-120.png'}
				alt={'github'}
				label={'GitHub'}
			/>
			<Connection
				url={'https://www.linkedin.com/in/paul-hazelton/'}
				imgPath={'images/linked-in-circle.png'}
				alt={'LinkedIn'}
				label={'LinkedIn'}
			/>
			<Connection
				url={'https://openprocessing.org/user/103154?view=sketches'}
				imgPath={'images/open-processing-logo.png'}
				alt={'Open Processing'}
				label={'Open Processing'}
			/> *@
		</div>
	</div>
</div>