@page "/"
@using Portfolio.Components

<PageTitle>Paul Hazelton</PageTitle>

<div class="home-container">
	<div class="text">
		<h1>Paul Hazelton</h1>
		<p>
			Hello! I've been a full stack C# dev for over 4 years at
			<ExternalLink Href="https://chestnut.org/">Chestnut Health Systems</ExternalLink>.
			I'm gonna miss that place, but it's time for my next chapter.
			I am currently seeking employment.
		</p>
		<a class="btn" target="_blank" href="/documents/resume.html">
			Check out my resume here
			<i class="fa-solid fa-arrow-up-right-from-square"></i>
		</a>
	</div>
	<div class="image">
		<img src="images/Profile-Photo.jpg" alt="Photo of Paul" />
	</div>
</div>

<LinkyFooter />