@page "/"

<PageTitle>Paul Hazelton</PageTitle>

<div class="home-container">
	<div class="home-left-text">
		<h1>Paul Hazelton</h1>
		<h2>Full Stack .NET Software Developer III</h2>
		<p>
			C# .NET developer with over 4 years of professional full-stack experience using
			C#, .NET, Blazor, CSS, EF Core, SQL, and PostgreSQL.<br>
			I have a passion for type safety, elegant code, and intuitive user interface design.
			I’ve been loving programming for 11 years.
		</p>
	</div>
	<div class="home-right-image">
		<img src="images/Profile-Photo.jpg" alt="Photo of Paul" />
	</div>
</div>

<Footer />