@page "/"

<PageTitle>Paul Hazelton</PageTitle>

<div class="home-container">
	<div class="home-left-text">
		<h1>Paul Hazelton</h1>
		@* <h2>Programmer</h2> *@
		<p>
			Hello! I've been a full stack C# dev for over 4 years at Chestnut Health Systems.<br />
			I'm gonna miss that place, but it's time for my next chapter.<br />
			I am currently seeking employment.
		</p>
	</div>
	<div class="home-right-image">
		<img src="images/Profile-Photo.jpg" alt="Photo of Paul" />
	</div>
</div>

<LinkyFooter />